/* src/routes/auth/auth.css */
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ajustar la altura según sea necesario */
    margin: 0;
}

.container-ac {
    width: 400px;
    background-color: white;
}

.form-authentication {
    padding: 5%;
}
.custom-button-up {
    width: 50%;
    display: inline-block;
}

.custom-button-up.active {
    background: rgb(253, 149, 149);
}

.custom-button.up {
    text-align: right;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
