/* src/components/general/general.css */
.input-container {
  width: 25%;
}

.input-container.custom-input.date-input {
  background-color: black;
  color: white;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper>input {
  text-align: left;
  border: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0.458);
  /* Línea roja en la parte inferior */
  padding: 5px;
  /* Añade algún relleno para separar el texto del borde inferior */
}

.input-wrapper>input:focus {
  outline: none;
  /* Elimina el contorno predeterminado al enfocar */
}

.input-wrapper.date-input {
  background-color: black;
  color: white;
}

.input-container label {
  text-align: left;
  display: flex;
  align-items: center;
}

.input-container label .icon {
  margin-right: 10px;
  color: pink;
}

.select-input-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  background-color: black;
  color: white;
}

.select-input-container select {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0.458);
}

.custom-select {
  background-color: black;
  color: white;
}

.select-input-container>select:focus {
  outline: none;
  /* Elimina el contorno predeterminado al enfocar */
}

.select-input-container label {
  text-align: left;
}

.select-input-container option {
  text-align: left;
  border: none;
}

.custom-button {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  box-shadow: none;
  outline: none;
  background: red;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background: rgba(253, 149, 149, 0.716); /* Cambiar el color al pasar el cursor */
}

.search-bar-container {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 1%;
  padding: 0.5%;
  border: none;
  background-color: black;
  border-radius: 5%;
}

.search-bar-container > input {
  background-color: rgba(128, 128, 128, 0.364);
  color: gray;
  border: none;
  cursor: pointer;
}

.search-bar-container > input {
  flex: 1;
}

.search-bar-container > input:focus {
  outline: none;
}

.search-bar-container > input:hover {
  color: white;
}

.search-bar-container > label {
  margin-right: 10px; /* Ajusta según sea necesario */
  color: gray; /* Puedes cambiar el color según tus necesidades */
}
/* Add more CSS rules as needed to match the Figma design */